# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS/Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/

# macOS
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Flutter-Profile.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Android
android/app/libs
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties
android/GeneratedPluginRegistrant.java
android/**/build/

# Build outputs
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
**/doc/api/
.fvm/

# IDE
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Exceptions - keep these tracked
!pubspec.lock
!ios/Podfile.lock
!macos/Podfile.lock

